# Thông tin Database (Mẫu)
DB_URL=jdbc:postgresql://your_db_url_here
DB_USER=your_user_here
DB_PASS=your_password_here

# Thông tin Google Login (Mẫu)
G_ID=your_google_client_id_here
G_SECRET=your_google_client_secret_here

# Thông tin Mail (Mẫu)
MAIL_USER=your_email_here
MAIL_PASS=your_app_password_here

# Thông tin JWT (Mẫu)
JWT_SECRET=your_random_jwt_secret_here
